.videos-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.videos-container a{
    text-decoration: none;
    color: white;
    transition: 0.05s;
}
.videos-container a:hover{
    color: #4CAF50;
}

.video-card {
    background-color: #333;
    padding: 2rem;
    border-radius: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    min-width: 200px;
    min-height: 250px;
}

.video-card:hover {
    background-color: #444;
    transform: translate(-10px, -10px); 
}

.video-card img{
    width: 50%;
    height: 50%;
}

@media (max-width: 1000px) {
    .videos-container {
        display: flex;
        flex-direction: column;
        min-width: 400px;
    }
}

@media (min-width: 1001px) and (max-width: 1600px) {
    .videos-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1601px) {
    .videos-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
