.playlists-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.playlists-container a{
    text-decoration: none;
    color: white;
    transition: 0.05s;
}
.playlists-container a:hover{
    color: #4CAF50;
}

.playlist-card {
    background-color: #333;
    padding: 2rem;
    border-radius: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    min-width: 200px;
    min-height: 250px;
}

.playlist-card:hover {
    background-color: #444;
    transform: translate(-10px, -10px); 
}

.playlist-card img{
    width: 50%;
    height: 50%;
}

